.navbar {
  width: 100%;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f7f7f7;
  box-shadow: 7px 7px 17px #46464626;
}

.navbar .container {
  display: flex;
  flex: 1;
  align-items: center;
}

.navbar .container a {
  display: flex;
  margin-right: auto;
}

.navbar .container .bar {
  position: relative;
  display: none;
  margin-left: 20px;
}

.navbar .container .bar span {
  color: #811627;
  padding: 8px 12px;
  font-size: 36px;
  text-align: center;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  box-shadow: -7px -7px 17px white, 7px 7px 17px #46464626;
}

.navbar menu {
  display: flex;
  margin: auto 0;
  list-style: none;
  border-radius: 10px;
}

.navbar menu li a {
  display: flex;
  padding: 8px 12px;
  color: #811627;
  align-items: center;
  text-align: center;
  margin: 0 10px;
  font-size: 14px;
  letter-spacing: 1px;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  box-shadow: -7px -7px 17px white, 7px 7px 17px #46464626;

  text-decoration: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.navbar menu li a:hover,
.navbar menu li a:focus {
  border: solid 1px #eee;
  box-shadow: inset -7px -7px 17px white, inset 7px 7px 17px #46464626;
}

/* Disable the ability to click on the active menu item */
.navbar menu li a .active {
  pointer-events: none;
}

.navbar menu li a .active,
.navbar menu li a .active:hover,
.navbar menu li a .active:focus {
  border: 1px solid #811627;
  box-shadow: inset -7px -7px 17px white, inset 7px 7px 17px #46464626;
}

#expand {
  display: none;
}

/* This part is so that the navbar will still look good on smaller screens. */
@media screen and (max-width: 1219px) {
  /*When screen width is smaller than or equal to 1219px, the following styling will be applied...*/
  .navbar {
    display: table;
  }

  .navbar menu {
    display: block;
    width: 100%;
    overflow: auto;
  }

  .navbar menu li {
    position: relative;
    margin: 20px 0;
    display: none;

    width: 90%;
    padding: 25px;
    font-size: 20px;
    border-radius: 30px;
    left: 50%;
    transform: translateX(-50%);
  }

  .navbar .container .bar {
    display: block;
    cursor: pointer;
  }

  #times {
    display: none;
  }

  /* When checkbox '#expand' is checked, the following styling will also be applied... */
  #expand:checked + .container {
    margin-bottom: 20px;
  }

  #expand:checked + .container .bar #times {
    display: block;
  }

  #expand:checked + .container .bar #bars {
    display: none;
  }

  #expand:checked ~ menu {
    height: 325px;
    border: 1px solid #f7f7f7;
    box-shadow: -7px -7px 17px white, 7px 7px 17px #46464626;
  }

  #expand:checked ~ menu li {
    display: block;
  }
}
