#timetable-container {
  background-image: url("../../resources/images/timetable-bg.png");
  background-repeat: none;
  text-align: center;
}

#timetable-container h3 {
  font-size: 3.5vw;
}

#timetable-container section img {
  max-width: 70vw;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

#timetable-container .typewriter {
  font-size: 2.5vw;
  font-weight: bold;
}
