#about-us-container {
  text-align: center;
}

#about-us-container .image-container img {
  max-width: 286px;
  width: 100%;
  height: auto;
}

#about-us-container .image-container img,
#about-us-container hr {
  margin: 20px 0;
}

#about-us-container #git-repo {
  display: inline-block;
  border-radius: 100px;
  padding: 1px 6px;
  color: white;
  text-decoration: none;
  background-color: #272727;
}

#about-us-container #git-repo span {
  font-family: "Roboto", sans-serif;
  --final-width: 194px;
  display: inline-flex;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  transition: width 0.2s ease-in-out;
}

#about-us-container #git-repo:hover span {
  width: 116px;
}

#about-us-container #git-repo + p {
  margin-top: 20px;
}

#about-us-container .profile {
  text-align: left;
  display: flex;
  align-items: center;
  max-height: 140px;
  border-radius: 70px;
  font-size: 1.75vh;
  margin: 20px 0;
  padding-right: 60px;
}

#about-us-container .profile img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-right: 30px;
}

#about-us-container .profile-details ul {
  margin-left: 20px;
}
