.discussion-container {
  margin: 20px;
}

.discussion-container .post-form {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px 0;
}

.discussion-container .post-form textarea {
  margin-right: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 5px;
  resize: none;
}

.discussion-container .post-form textarea:focus {
  outline: 1px solid #811627;
}

.discussion-container .post {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  padding: 10px;
}

.discussion-container .post .thread {
  margin-left: 20px;
}
