.navbar {
  width: 100%;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f7f7f7;
  box-shadow: 7px 7px 17px #46464626;
}

.navbar .container {
  display: flex;
  flex: 1;
  align-items: center;
}

.navbar .container a {
  display: flex;
  margin-right: auto;
}

.navbar .container a #logo {
  font-size: 35px;
  font-weight: 800;
  cursor: pointer;
  user-select: none;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  box-shadow: -7px -7px 17px white, 7px 7px 17px #46464626;
}

.navbar .container .bar {
  position: relative;
  display: none;
}

.navbar .container .bar span {
  color: #811627;
  height: 65px;
  line-height: 65px;
  width: 65px;
  font-size: 35px;
  text-align: center;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  box-shadow: -7px -7px 17px white, 7px 7px 17px #46464626;
}

.navbar menu {
  display: flex;
  margin: auto 0;
  list-style: none;
  border-radius: 10px;
}

.navbar menu li {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 10px;

  user-select: none;
  font-size: 14px;
  color: #811627;
  letter-spacing: 1px;
  padding: 8px 12px;
  transition: all 0.3s;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  box-shadow: -7px -7px 17px white, 7px 7px 17px #46464626;
}

.navbar menu li:hover,
.navbar menu li:focus {
  border: solid 1px #eee;
  box-shadow: inset -7px -7px 17px white, inset 7px 7px 17px #46464626;
}

.navbar menu .active {
  pointer-events: none;
}

.navbar menu .active,
.navbar menu .active:hover,
.navbar menu .active:focus {
  border: 1px solid #811627;
  box-shadow: inset -7px -7px 17px white, inset 7px 7px 17px #46464626;
}

#check {
  display: none;
}

/*This part is so that the website will still look good on smaller screens.*/
@media screen and (max-width: 1219px) {
  /*When screen width is smaller than or equal to 1104px, the following styling will be applied...*/
  .navbar {
    display: table;
  }
  .navbar menu {
    display: block;
    width: 100%;
    overflow: auto;
  }
  .navbar menu li {
    position: relative;
    margin: 20px 0;
    display: none;

    width: 90%;
    padding: 25px;
    font-size: 20px;
    border-radius: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  .navbar .container .bar {
    display: block;
    cursor: pointer;
  }
  .navbar .container .bar #times {
    display: none;
  }
  /* When checkbox '#check' is checked, the following styling will be applied... */
  #check:checked ~ .navbar .container {
    margin-bottom: 20px;
  }
  #check:checked ~ .navbar menu {
    height: 338px;
    border: 1px solid #f7f7f7;
    box-shadow: -7px -7px 17px white, 7px 7px 17px #46464626;
  }
  #check:checked ~ .navbar menu li {
    display: block;
  }
  #check:checked ~ .navbar .container .bar #times {
    display: block;
  }
  #check:checked ~ .navbar .container .bar #bars {
    display: none;
  }
}
