#share-resources-container #search-area {
  display: inline-flex;
  max-width: 500px;
  width: 100%;
}

#share-resources-container #search-input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border: solid 1px #f7f7f7;
}

#share-resources-container #search-input:focus {
  outline: solid 1px #811627;
}

#share-resources-container #search-input,
#share-resources-container #search-button {
  border-radius: 30px;
}

#share-resources-container .table-fixed-header {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  overflow-y: auto;
  max-height: 70vh;
}

#share-resources-container .table-fixed-header table {
  border-collapse: collapse;
  position: relative;
  user-select: none;
  width: 100%;
}

#share-resources-container .table-fixed-header table thead {
  color: #811627;
  position: sticky;
  top: 0;
  outline: 2px solid;
  background: #eee;
}

#share-resources-container .table-fixed-header table thead th {
  text-align: left;
}

#share-resources-container .table-fixed-header table thead th,
#share-resources-container .table-fixed-header table tbody tr td {
  padding: 10px;
}

#share-resources-container .table-fixed-header table tbody tr:hover {
  background-color: whitesmoke;
}

#share-resources-container .table-fixed-header table tbody tr td {
  vertical-align: top;
}

#share-resources-container .table-fixed-header table tbody tr td a {
  position: relative;
  text-decoration: none;
  font-size: 13px;
}

#share-resources-container .buttons {
  margin-top: 10px;
  text-align: center;
}
