.resources-table .table-fixed-header {
  display: inline-block;
  width: 100%;
  overflow-y: auto;
  max-height: 70vh;
}

.resources-table .table-fixed-header table {
  border-collapse: collapse;
  position: relative;
  user-select: none;
  width: 100%;
}

.resources-table .table-fixed-header table thead {
  color: #811627;
  position: sticky;
  top: 0;
  outline: 2px solid;
  background: #eee;
}

.resources-table .table-fixed-header table thead th {
  text-align: left;
}

.resources-table .table-fixed-header table thead th,
.resources-table .table-fixed-header table tbody tr td {
  padding: 10px;
}

.resources-table .table-fixed-header table tbody tr:hover {
  background-color: whitesmoke;
}

.resources-table .buttons {
  margin-top: 10px;
  text-align: center;
}
