.resources-table table {
  position: relative;
  margin: 0 auto;
  user-select: none;
  border-collapse: collapse;
  width: 100%;
  height: 60vh;
  overflow: visible;
}

.resources-table table,
.resources-table table th,
.resources-table table td {
  border: 1px solid;
}

.resources-table table td {
  padding: 5px;
}

.resources-table .buttons {
  margin-top: 10px;
  text-align: center;
}
